@media screen and (max-width: 720px) {
  /*RESET*/
  * {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
  }

  .desktop {
    display: none;
  }

  /*WIREFRAMES
  .frame {
    border: 1px dotted red;
  }*/

  html {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 238, 238);
    font-family: "Red Hat Display", sans-serif;
  }

  /*TEXT*/
  h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin-top: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 900;
    margin: 24px 24px 0 24px;
  }

  h3 {
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    margin-top: 64px;
    color: #4d96a9;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
    color: hsla(239, 10%, 57%, 1);
    margin: 24px 24px 0 24px;
  }

  /*BUTTONS*/
  button {
    height: 58px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    border-radius: 50px;
    line-height: 26px;
    font-family: "Red Hat Display", sans-serif;
    margin: 0 91px;
  }

  button:hover {
    cursor: pointer;
  }

  .download {
    width: 193px;
    background-color: #4d96a9;
    margin-top: 35px;
  }

  .download:hover {
    background-color: #71c0d4;
  }

  span {
    color: #8fe3f9;
  }

  .what {
    width: 139px;
    background-color: #855fb1;
    margin-top: 15px;
  }

  .what:hover {
    background-color: #b18bdd;
  }

  /*BODY*/
  .container {
    width: 375px;
    height: 2215px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section {
    width: 375px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*LOGO SECTION*/
  .logo {
    width: 375px;
    height: 283px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 130px 153px;
    grid-template-areas:
      "logo logo"
      "left right";
    overflow: hidden;
  }

  .meetLogo {
    width: 119px;
    height: 28px;
    grid-area: logo;
    margin: 48px 128px;
  }

  .heroesLeft {
    grid-area: left;
    width: 207px;
    height: 153px;
    margin-left: -26px;
  }

  .heroesRight {
    grid-area: right;
    width: 207px;
    height: 153px;
    margin-left: 8px;
  }

  /*INTRO SECTION*/

  /*SECTION 1 SECTION*/
  .section1,
  .section2 {
    margin-top: 64px;
  }

  .number1,
  .number2 {
    width: 315px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    width: 0px;
    height: 84px;
    border: 1px solid #87879d;
    opacity: 0.25;
  }

  .number {
    width: 56px;
    height: 56px;
    color: #87879d;
    border-radius: 50%;
    border: 1px solid rgba(135, 135, 157, 0.25);
    margin-top: 0;
    line-height: 56px;
  }

  .pictures {
    width: 327px;
    height: 310px;
    display: grid;
    grid-template-columns: 151px 25px 151px;
    grid-template-rows: 143px 25px 143px;
    grid-template-areas:
      "woman . women"
      ". . ."
      "men . man";
    margin-left: -6px;
    margin-top: 64px;
  }

  .picture {
    width: 151px;
    height: 143px;
    border-radius: 10px;
  }

  .woman {
    grid-area: woman;
  }

  .women {
    grid-area: women;
  }

  .man {
    grid-area: man;
  }

  .men {
    grid-area: men;
  }

  /*SECTION 2 SECTION*/
  .section2 {
    height: 540px;
    margin-top: 64px;
  }

  .section2 .number2 {
    height: 140px;
    position: relative;
    top: 28px;
    margin-top: -28px;
  }

  .section2 .number {
    background-color: white;
    color: #87879d;
  }

  .section2 h2 {
    color: white;
    margin-top: 92px;
  }

  .section2 p {
    color: white;
    font-size: 18px;
  }

  .section2 button {
    height: 58px;
    width: 193px;
    background-color: #855fb1;
    margin: 32px 0 72px 0;
  }

  .section2 button:hover {
    background-color: #b18bdd;
  }

  .section2 button span {
    color: hsla(268, 100%, 86%, 1);
  }

  .footer {
    height: 428px;
    width: 375px;
    background: linear-gradient(
        hsla(192, 37%, 48%, 90%),
        hsla(192, 37%, 48%, 90%)
      ),
      url(/code/assets/mobile/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
