@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

@media screen and (min-width: 720px) {
  /*RESET*/
  * {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    border: none;
  }

  .mobile {
    display: none;
  }

  /*WIREFRAMES*/
  .frame {
    border: 1px dotted red;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 238, 238);
    font-family: "Red Hat Display", sans-serif;
  }

  /*TEXT*/
  h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin-top: 48px;
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin: 16px 24px 0 24px;
  }

  .section2 h2 {
    margin: 88px 24px 0 24px;
    color: white;
  }

  h3 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    margin-top: 80px;
    color: #4d96a9;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
    color: hsla(239, 10%, 57%, 1);
    margin: 24px 88px 0 88px;
  }

  .section1 p {
    margin: 24px 450px 0 450px;
  }

  .section2 p {
    color: white;
  }

  /*BUTTONS*/
  button {
    height: 58px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    border-radius: 50px;
    line-height: 26px;
    font-family: "Red Hat Display", sans-serif;
  }

  .download {
    width: 193px;
    background-color: #4d96a9;
    margin-top: 35px;
    margin-right: 16px;
  }

  span {
    color: #8fe3f9;
  }

  .what {
    width: 139px;
    background-color: #855fb1;
    margin-top: 15px;
  }

  /*BODY*/
  .container {
    width: 1440px;
    height: 1895px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section {
    width: 1440px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*LOGO SECTION*/
  .logo {
    width: 1440px;
    height: 169px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .meetLogo {
    width: 119px;
    height: 28px;
    margin: 48px 128px;
  }

  /*INTRO SECTION*/
  .intro {
    width: 1440px;
    height: 358px;
    display: grid;
    grid-template-columns: 394px 716px 394px;
    grid-template-rows: 100%;
    grid-template-areas: "left message right";
    overflow: hidden;
  }

  .heroesLeft,
  .heroesRight {
    grid-area: left;
    width: 394px;
    height: 303px;
    margin-bottom: 55px;
  }

  .message {
    grid-area: message;
    width: 716px;
    height: 358px;
  }

  .heroesRight {
    grid-area: right;
  }

  /*SECTION 1 SECTION*/
  .section1,
  .section2 {
    margin-top: 110px;
  }

  .number1,
  .number2 {
    width: 56px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    width: 0px;
    height: 84px;
    border: 1px solid #87879d;
    opacity: 0.25;
  }

  .number {
    width: 56px;
    height: 56px;
    color: #87879d;
    border-radius: 50%;
    border: 1px solid rgba(135, 135, 157, 0.25);
    margin: 0 692px;
    line-height: 56px;
  }

  .number p {
    margin-top: 0;
  }

  .pictures {
    width: 1110px;
    height: 242px;
    display: grid;
    grid-template-columns: 255px 30px 255px 30px 255px 30px 255px;
    grid-template-rows: 100%;
    grid-template-areas: "woman . women . men . man";
    margin-top: 64px;
  }

  .picture {
    width: 255px;
    height: 242px;
    border-radius: 10px;
  }

  .woman {
    grid-area: woman;
  }

  .women {
    grid-area: women;
  }

  .man {
    grid-area: man;
  }

  .men {
    grid-area: men;
  }

  /*SECTION 2 SECTION*/
  .section2 {
    height: 540px;
    margin-top: 64px;
  }

  .section2 .number2 {
    height: 140px;
    position: relative;
    top: 28px;
    margin-top: -28px;
  }

  .section2 .number {
    background-color: white;
    color: #87879d;
    margin-top: 0;
  }

  .footer {
    height: 308px;
    width: 1440px;
    background: linear-gradient(
        hsla(192, 37%, 48%, 90%),
        hsla(192, 37%, 48%, 90%)
      ),
      url(/code/assets/mobile/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .experience {
    height: 88px;
    width: 1110px;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
  }

  .experience h2 {
    color: white;
    width: 350px;
    height: 88px;
    margin: 0 125px 0 0;
  }

  .experience p {
    width: 350px;
    height: 78px;
    margin: 0 92px 0 0;
  }

  .section2 button {
    height: 58px;
    margin: 0;
    width: 193px;
    background-color: #855fb1;
    margin: 0;
  }

  .section2 button span {
    color: hsla(268, 100%, 86%, 1);
  }
}
