@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

/*TEXT*/
h1 {
  font-size: 40px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

/*BODY*/
.container {
  width: 375px;
  height: 2215px;
  background-color: white;
}

.logo {
  width: 375px;
  height: 283px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 130px 153px;
  grid-template-areas:
    "logo logo"
    "left right";
  background-color: wheat;
}

.meetLogo {
  width: 119px;
  height: 28px;
  grid-area: logo;
  margin: 62px 128px;
}

.heroesLeft {
  grid-area: left;
  width: 207px;
  height: 153px;
  margin-left: -26px;
}

.heroesRight {
  grid-area: right;
  width: 207px;
  height: 153px;
  margin-left: 8px;
}

.section {
  width: 315px;
  margin: 0 30px;
  text-align: center;
}

.intro {
  height: 500px;
}

.section1 {
  height: 500px;
}

.section2 {
  height: 500px;
}
