@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

/*TEXT*/
h1 {
  font-size: 40px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

/*BODY*/
.container {
  width: 375px;
  height: 2215px;
  background-color: white;
}

.section {
  margin: 0 30px;
}
